In [12]:
import requests
import pandas as pd

In [7]:
token = "bitcoin"
url = f"https://api.coingecko.com/api/v3/coins/{token}/market_chart"
data = {"vs_currency": "usd", "days": "max"}
headers = {'Content-type':'application/json'}

In [8]:
response = requests.get(url, headers=headers, params=data)

In [30]:
df = pd.DataFrame(index=[pd.to_datetime(x[0], unit='ms') for x in response.json()['prices']], dtype=float)
df['prices'] = [x[1] for x in response.json()['prices']]
df['volumes'] = [x[1] for x in response.json()['total_volumes']]
df['market_caps'] = [x[1] for x in response.json()['market_caps']]

In [35]:
df

                           prices       volumes   market_caps
2013-04-28 00:00:00    135.300000  0.000000e+00  1.500518e+09
2013-04-29 00:00:00    141.960000  0.000000e+00  1.575032e+09
2013-04-30 00:00:00    135.300000  0.000000e+00  1.501657e+09
2013-05-01 00:00:00    117.000000  0.000000e+00  1.298952e+09
2013-05-02 00:00:00    103.430000  0.000000e+00  1.148668e+09
...                           ...           ...           ...
2023-11-27 00:00:00  37491.838186  1.022911e+10  7.333768e+11
2023-11-28 00:00:00  37250.169051  1.797913e+10  7.280402e+11
2023-11-29 00:00:00  37802.236044  1.971554e+10  7.388169e+11
2023-11-30 00:00:00  37810.346417  2.096455e+10  7.404945e+11
2023-11-30 00:39:59  37831.535285  1.595715e+10  7.389314e+11

[3868 rows x 3 columns]